@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  width: 85%;
  min-height: 200px;
  background: #04364a !important;
  padding: 10px;
  border-radius: 7px;
}
.closeButton {
  background: #176b87 !important;
  border-radius: 3px;
}



@media screen and (min-width: 768px) {
  .modal {
    width: 400px;
  }
}
